h1 {
    text-align: center;
    margin-bottom: 0;
}

.button-container {
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sketch-pad-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    min-height: 672px;
    max-width: 672px;
    margin: auto;
}

.sketch-pad-container div {
    flex: auto;
}

.painted {
    background-color: black;
}